// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$enable-responsive-font-sizes: true;

// Custom settings
.btn-primary {
  border-color: rgb(0, 149, 145);
  background-color: rgb(0, 149, 145);

  &:hover &:focus &:active {
    border-color: rgb(0, 99, 96);
    background-color: rgb(0, 99, 96);    
  }
}

.navbar { background-color: #3f815d; }

.nav-item { color: white; }
